{% extends 'base.html' %}
{% load static %}

{% block content %}

    <form method="GET">
        <label for="search">جستجو:</label>
        <input type="text" id="search" name="q" value="{{ query }}">
        <button type="submit">جستجو</button>
    </form>

    {% for post in posts %}
        <a href="{% url 'post_page' post.pk %}">{{ post.title }}</a>
        <p>{{ post.content }}</p>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
    {% endfor %}

    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">قبلی</a>
    {% endif %}
    <span>صفحه {{ posts.number }}</span>
    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">بعدی</a>
    {% endif %}

{% endblock %}